header {
	height: 35px;
	text-align: center;
}

button {
	border: currentColor;
	border-radius: 15px;
}

article {
	width: 60%;
	text-align: justify;
}

.fundoAzul {
	background-color: rgb(110, 110, 255);
}

.fundoVerde {
	background-color: rgb(121, 255, 132);
}

.fundoVermelho {
	background-color: rgb(255, 123, 123);
}

.fundoCinza {
	background-color: rgb(197, 197, 197);
}

.caixaDeEscolhas {
	position: fixed;
	top: 75px;
	text-align: center;
	padding: 0px;
	border: solid black 1px;
	width: 150px;
	height: 150px;
}

.caixaDeEscolhasOff {
	z-index: 0;
}

#quadradinho0 {
	background-color: rgb(110, 110, 255);
	display: inline-block;
	margin: 3px 1px 1px 1px;
	border: solid black 1px;
	width: 65px;
	height: 65px;
}

#quadradinho1 {
	background-color: rgb(121, 255, 132);
	display: inline-block;
	margin: 3px 1px 1px 1px;
	border: solid black 1px;
	width: 65px;
	height: 65px;
}

#quadradinho2 {
	background-color: rgb(255, 123, 123);
	display: inline-block;
	margin: 3px 1px 1px 1px;
	border: solid black 1px;
	width: 65px;
	height: 65px;
}

#quadradinho3 {
	background-color: rgb(197, 197, 197);
	display: inline-block;
	margin: 3px 1px 1px 1px;
	border: solid black 1px;
	width: 65px;
	height: 65px;
}
